name: Push to Artifact Registry

on: [push, pull_request]

env:
  IMAGE_NAME: "explorer"
  AR_REPO_LOCATION: "europe-west1-docker.pkg.dev"
  AR_URL: "hyli-shared-all/hyli"

jobs:
  build_and_push:
    permissions:
      contents: "read"
      id-token: "write"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/676086123495/locations/global/workloadIdentityPools/backend-dev-pool/providers/explorer-github-provider"
          service_account: "ci-builder-sa@hyli-shared-all.iam.gserviceaccount.com"

      - name: "Authenticate docker on gcp"
        run: |
          gcloud auth configure-docker europe-west1-docker.pkg.dev

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{env.AR_REPO_LOCATION}}/${{ env.AR_URL }}/${{ env.IMAGE_NAME }}
      # Will produces tags given this table :
      #
      # | Event               | Ref                           | Docker Tags                |
      # |---------------------|-------------------------------|----------------------------|
      # | `pull_request`      | `refs/pull/2/merge`           | `pr-2`                     |
      # | `push`              | `refs/heads/master`           | `master`                   |
      # | `push`              | `refs/heads/releases/v1`      | `releases-v1`              |
      # | `push tag`          | `refs/tags/v1.2.3`            | `v1.2.3`, `latest`         |
      # | `push tag`          | `refs/tags/v2.0.8-beta.67`    | `v2.0.8-beta.67`, `latest` |
      # | `workflow_dispatch` | `refs/heads/master`           | `master`                   |

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
